packages/main/node_modules
*.swp
packages/php-generator/node_modules
*.php
packages/main/test/homepage
packages/main/output
*.swo
packages/vue-php-compiler/output
packages/vue-php-compiler/test/homepage
packages/test
